<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs325.pug">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewGroupActivity"
            android:label="@string/title_activity_view_group"
            android:parentActivityName=".JoinGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadAppActivity"
            android:label="@string/title_activity_load_app"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectSubjectActivity"
            android:label="@string/title_activity_select_subject"
            android:parentActivityName=".LoadAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectCourseActivity"
            android:label="@string/title_activity_select_course"
            android:parentActivityName=".SelectSubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectGroupActivity"
            android:label="@string/title_activity_select_group"
            android:parentActivityName=".SelectCourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JoinGroupActivity"
            android:label="@string/title_activity_join_group"
            android:parentActivityName=".SelectGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:parentActivityName=".SelectGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditGroupActivity"
            android:label="@string/title_activity_edit_group"
            android:parentActivityName=".LeaderViewGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LeaderViewGroupActivity"
            android:label="@string/title_activity_leader_view_group"
            android:parentActivityName=".CreateGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".NotificationDeleteReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>
